<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My Word Search</title>
    </head>

    <body>
        <div class="body_ip">
            <h1>Search Your Word!!</h1>
            <form action="/s_w" method="post" class="search">
                <lable for="word"></lable>
                <input type="s_word" name="word_to_search" id="word_to_search" placeholder="Word">
                <input type="submit">

                <!---- <button type="submit" value="submit" id="search_button" >Search</button> -->
            
            </form>
        </div>

    </body>
</html>